*{
	margin:0;
	padding:0;
}
table,tr,td{
	border-collapse:separate;
    *border-spacing:expression(this.cellSpacing="0px");
	border-spacing:0px;
	}
.left{
	float:left;
	padding:0px;
	width:204px;
	height:750px;
	background:#f0f0f0;
	border-right:3px solid rgba(0,0,0,0.3); 
}
.right{
	float:left;
	width:1145px;
	height:750px;
	min-height:650px;
	_height:650px;
	overflow: visible;
	background:#DDDDFF;
}
li{
	list-style-type:none;
}
a:link {
	color:#3333FF;
 	text-decoration: none;
}
a:visited {
	color:#3333FF;
	text-decoration: none;
}
#manager{
	font-size:19px;
	font-weight:bold;
	padding:10px 0px 10px 10px;
	
}
.left>ul>li>a{
	color:#4444FF;
	text-shadow: 0px 0px 20px rgba(255,255,255,0.6);
}
.left>ul{
	padding-top:20px;
}
.left>ul>li{
	background-color:#DDDDFF;
	box-shadow: 0px 0px 20px rgba(00,00,255,0.6);
	margin:0px 0px 30px 0px;
	padding:0;
	padding-top:10px;
	text-align:center;
	margin-top:2px;
	font-size:20px;
	font-weight:bold;
	min-height:40px;
	width:203px;
	border:1px solid rgba(77,28,208,0.5); 
}
.left>ul>li>ul>li>a{
	margin:0;
	padding:0;
	color:#555577;
	text-align:center;
	font-size:16px;
	min-height:20px;
	width:198px;
	}
.left>ul>li>ul>li{
	padding-top:20px;
	margin:0;
	height:40px;	
}
.right table{
	width:100%;
	padding:10px;
}

.right table tr td{
	text-align:center;
	width:200px;
	overflow:hidden;
	padding:10px;
	height:10px;
	overflow:hidden;
	
}
.title{
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	font-size:30px;
	color:#6C7B8B;
	font-family:SimHei;
}
.right table tr{
	height:10px;
	overflow:hidden;
}
.column>td{
	font-size:16px;
	color:#A0522D;
	font-weight:bold;
	border-bottom:1px solid rgba(100,102,50,0.5); 
	}
.pagenumber{
	text-align:center;
}
#foot	{
	background:#f0f0f0;
	color:white;
	text-align:center;
	clear:both;
	color:#101010;
	bottom:0px;
	height:62px;
	width:100%;
}