body {
    margin: 0;
    padding: 0;
    margin-top:150px;
    background: url(../../img/index/indexback.jpg) no-repeat top center;
}
#banner {
    text-align:center;
}

.textname
{
	font-size:20px;
	font-weight:900;
}

.text:hover
{
	BACKGROUND-COLOR: #FFFFBB;
}

#name
{
	margin-left:570px;
}

#email
{
	margin-left:592px;
}

#submit
{
	margin-left:0px;
	width:120px;
	height:40px;
	BACKGROUND-COLOR: #0066FF;
	COLOR: #ffffff;
}

#submit:hover
{
	BACKGROUND-COLOR: #5599FF;
}

#back
{
	margin-left:50px;
	width:120px;
	height:40px;
	BACKGROUND-COLOR: #FF8800;
	COLOR: #ffffff;
}

#back:hover
{
	BACKGROUND-COLOR:#FFAA33;
}