#modify{
	margin-top:20px;
	width:750px;
}
#modify>table {
	text-align:center;
	margin-left: 40%;
}
#loginsearch{
	margin-left:20%;
}
#loginsearch2{
	margin-left:6%;
}
td {
	min-width:120px;
	text-align:left;
	height: 25px;
	padding-top:10px;
	font-size:15px;
	color:#6666FF;
	text-shadow: 0px 0px 10px rgba(255,255,0,0.5);
	text-decoration:none;
}
td div{
	font-size:12px;
	color:#FF6666;
	text-shadow: 0px 0px 10px rgba(255,255,0,0.5);
}
tr {
	height: 25px;
}
.text
{
	font-weight:bold;
	font-size:16px;
	color:#6666FF;
	text-shadow: 0px 0px 10px rgba(255,255,0,0.5);
	text-decoration:none;

}
.text2:hover
{
	BACKGROUND-COLOR: #FFFFBB;
}

#submit
{
	width:120px;
	height:40px;
	BACKGROUND-COLOR: #0066FF;
	COLOR: #ffffff;
}
#reset
{
	width:120px;
	height:40px;
	BACKGROUND-COLOR: #9922FF;
	COLOR: #ffffff;
}
#submit:hover
{
	BACKGROUND-COLOR: #5599FF;
}

#back
{
	margin-left:50px;
	width:120px;
	height:40px;
	BACKGROUND-COLOR: #FF8800;
	COLOR: #ffffff;
}

#back:hover
{
	BACKGROUND-COLOR:#FFAA33;
}

#buttondiv
{
	text-align:center;
	margin-top:5px;
	margin-left:100px;	
}
#buttondiv input{
	margin-left:10px;
	margin-right:10px;
	padding:0;
}